#edit-head {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #BFD9E0;
    display: flex;
}
.edit-head-label {
    background-color: #D3E9EF;
    /*width: 100px;*/
    height: 100%;
    flex: 1;
    margin-top: 0px;
    line-height: 40px;
    border-right: 1px solid #BFD9E0;
    padding-left: 40px;
    position: relative;
}
.edit-head-label img{
    width: 30px;
    height: 30px;
    position: absolute;
    image-rendering: pixelated;
    left: 5px;
    top: 5px;
    -webkit-user-drag: none;
}
/*.edit-head-label::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.label-type-sand::after{
    background-image: url("../img/block-1.14/sand.png");
}
.label-type-glass::after{
    background-image: url("../img/block-1.14/glass.png");
}
.label-type-stone::after{
    background-image: url("../img/block-1.14/stone.png");
}*/

.edit-head-label-close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition-duration: 0.4s;
    color: black;
    border-radius: 3px;
}
.edit-head-label-close-btn:hover {
    color: white;
    background-color: #BFD9E0;
}
.edit-head-label-close-btn::after {
    content: "×";
    line-height: 20px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
}
.edit-head-label:hover .edit-head-label-close-btn {
    opacity: 1;
}
