/***********************基本↓******************************/

.RightClickHr {
	margin: 4px 10px 4px 10px;
}
.RightClick {
	background-color: rgb(242,242,242);
	width: 310px;
	height: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: none;
}
.RightClickElement {
	width: 310px;
	height: 23px;
	font-family: "微软雅黑";
	font-size: 11px;
	background-color: rgb(242,242,242);
	padding-top: 4px;
	box-sizing: border-box;
	-webkit-user-select: none;
	padding-left: 40px;
}
.RightClickElement:hover {
	background-color: rgb(217,217,217);
}
.RightClickInvalidElement {
	color: #777777;
}
.RightClickInvalidElement:hover {
	background-color: rgb(242,242,242);
}
/***********************基本↑******************************/